# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
run-data/logs/2026-04-15-2.log.gz
run-data/logs/debug-1.log.gz
run-data/logs/debug-2.log.gz
run-data/logs/debug-3.log.gz
run-data/logs/debug-4.log.gz
run-data/logs/debug-5.log.gz
run-data/logs/debug.log
run-data/logs/latest.log
